@import url("https://fonts.googleapis.com/css?family=Montserrat");
header {
  display: block;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  height: 65px;
  background: #fcfcfc;
  line-height: 65px;
  font-family: 'Montserrat Light';
}
header .title {
  float: left;
  position: relative;
  font-size: 26px;
  font-family: 'Montserrat';
}
header .site-nav {
  float: right;
}
header .site-nav .menu {
  display: block;
  position: relative;
  padding-left: 0;
  padding-right: 0px;
}
header .site-nav .menu .menu-item {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
